// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container ul {
  display: inline-block;
  text-shadow: none;
  color: #222;

}

.team {
  li {
    float: left;
    margin: 10px;
    padding: 20px 10px;
    text-align: center;
    list-style-type: none;
    background-color: transparent;
    opacity: 0.97;
    border-radius: 15px;
    min-width: 150px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &:hover{
      cursor: pointer;
      box-shadow: 1px 1px 15px #222;
      opacity: 1;
      background-color: #FFF;
    }
  }
  img {
    border: #777 solid 2px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}
