// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task {
  li {
    list-style-type: none;
    display: inline-block;
    border: 2px solid #777;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 900px;
    height: 90px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &:hover {
      border: 2px solid #555;
      cursor: pointer;
      box-shadow: 1px 1px 15px #222;
      opacity: 0.95;
      background-color: #FFF;
    }
    
    .task-item {
      text-align: left;
      span {
        float: left;
        
        img {
          width: 38px;
          height: 72px;
          margin: 0 7.5px;
        }
      }
      .task-characters {
        // border: 2px solid #777;
        border-radius: 5px;
        padding: 5px;
        span {
          text-align: center;
        }
      }
    }

    .task-description {
      font-size: 1.3em;
      text-align: left;
      margin-left: 150px;
      text-shadow: 1px 1px 1px #CCC
    }
  }
}